.content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.content pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  color: var(--code-color);
  font-size: .875em;
  font-family: monospace;
  border: 1px solid var(--border-color);
}

.content code {
  border: 1px solid var(--border-color);
  color: var(--code-color);
  font-size: .875em;
  font-weight: normal;
  padding: 0.1em 0.2em;
  font-family: monospace;
}

.content pre code {
  padding: 0;
  border: none;
}

.content a {
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
  }
}

.content blockquote {
  border-left: #e2dede 8px solid;
  margin: 0;
  background-color: #f2f1f0;
  padding: 0 20px;
}