<style>
    :root {
        --background-color: #c9c9c9;
        --text-color: #383a42;
        --link-color: #a626a4;
        --toc-highlight-text-color: #a626a4;
        --code-color: #383a42;
        --header-font-family: "Fira Sans", sans-serif;
        --text-font-family: "Fira Sans", sans-serif;
        --border-color: #383a42;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: #1f2329;
            --text-color: #a0a8b7;
            --link-color: #bf68d9;
            --toc-highlight-text-color: #bf68d9;
            --code-color: #a0a8b7;

            --header-font-family: "Fira Sans", sans-serif;
            --text-font-family: "Fira Sans", sans-serif;

            --border-color: #a0a8b7;
        }
    }
</style>
