<style>
    :root {
        --background-color: white;
        --text-color: black;
        --link-color: magenta;
        --toc-highlight-text-color: magenta;
        --code-color: black;
        --header-font-family: "Fira Sans", sans-serif;
        --text-font-family: "Fira Sans", sans-serif;
        --border-color: black;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: black;
            --text-color: white;
            --link-color: #ff77ff;
            --toc-highlight-text-color: #ff77ff;
            --code-color: white;

            --header-font-family: "Fira Sans", sans-serif;
            --text-font-family: "Fira Sans", sans-serif;

            --border-color: white;
        }
    }
</style>